{% load static %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="tag_toggleLabel">建立標籤</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <span class="modal-body" >
            <div class="row">
                <div class="col">
                    <input style="width:300px ;" type="text" id="new_tag_name" name="new_tag_name" class="form-control" placeholder="New Tag Name" >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span id="error-tag-name" style="color: red;" class="hidden">Tag名稱不可空白</span>
                </div>
            </div>
        </span>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-primary" id="addnewtag">創建</button> -->
            <button type="button" class="btn btn-primary" onclick="return _Create_Tag(this)" id="add_tag_btn">創建</button>
            <img src='/static/images/Ellipsis-2.4s-48px.svg' id="loading_create_tag" class="hidden">
        </div>
    </div>
</div>
<script src="{% static 'testcase/js/add_tag.js' %}"></script>