*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.loginModalbody
{
    display:block;
    justify-content: left;
    align-items: center;
    min-height: 80vh; 
    flex-direction: column;
    gap: 10px;
    background: #fafafa;
}

.contentbody
{
    background: #fafafa;
}

.label-shift-y
{
    transform: translateY(7px)
}
.invalid-shift
{   
    transform: translateY(-200px);
    transform: translateX(10px);
    transform: translateY(7px);
}


.hidden
{
    display: none;
}

a.search_link:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a.search_link:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a.search_link:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a.search_link:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

.search-modal-xl {
    --bs-modal-width: 2000px;

}


/* search modal used */
