.fail {
    background-color: #D74324!important;
}
.pass{
    background:#6ea204!important;
}
.incomplete{
    background:#f2af00!important;
}
.block{
    background: black!important;
}
.omitted{
    background:#737373!important;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
.dashboard_header{
    background-color:#5DADE2 ;
    color: #FFF;
}
.dashboard_header_testrun{
    background-color:#EB984E ;
    color: #FFF;
}
.dashboard_close_header{
    background-color:#2ECC71 ;
    color: #FFF;
}
.status_show_position{
    text-align: center;
    Vertical-align:middle;
}
.disable-links {
    pointer-events: none;
}

.disabled-link {
    pointer-events: none;
}