<style>
    #info_editmode_left .bootstrap-select {
        width: 70% !important;
    }
    #info_editmode_right .bootstrap-select {
        width: 70% !important;
    }
</style>
<div class="col-md-3" >
    <div id="info_savemode_left" class="info_savemode">
        <div class="info_border">
            <h1><span>項目名稱</span></h1>
            <div class="info_show_left">
                <p id="save_name">名稱: {{project.name}}</p>
            </div>
        </div>
        <br>
        <div class="info_border" >
            <h1><span>項目屬性</span></h1>
            <div class="info_show_left">
                <p id="save_class">類型: Project</p>
                {% if project.client.name != None %}
                    <p id="save_client">客戶: {{project.client.name}}</p>
                {% else %}
                    <p id="save_client">客戶: 尚無客戶選擇</p>
                {% endif %}
                <p id="save_tag">標籤:
                    {% if tag_list|length == 0 %}
                        <span>無</span>
                    {% else %}
                        {% for tag in tag_list %}
                        <span style="color:#5DADE2;">{{tag}}</span>
                    {% endfor %}
                    {% endif %}
                </p>
                <p id="save_testplan_count">Number of Test Plan: {{testplan_count}}</p>
            </div>
        </div>
    </div>
    <div id="info_editmode_left" class="info_editmode hidden">
        <div class="info_border">
            <h1><span>項目名稱</span></h1>
            <div class="info_show_left">
                <p>
                    <div class="form-group info_label">
                        <label for="id_project_name" style="transform: translateY(3px);color:blue;">名稱:</label>
                        <input style="width:85%;transform: translateY(-3px)" type="text" id="id_project_name" name="id_project_name" class="form-control" placeholder="Project 名稱" value="{{project.name}}" required>
                        <span id="error-name" style="color: red;" class="hidden">名稱不可空白</span>
                    </div>
                </p>
            </div>
        </div>
        <br>
        <div class="info_border" >
            <h1><span>項目屬性</span></h1>
            <div class="info_show_left"> 
                <p id="edit_class">類型: Project</p>
                <p id="edit_client" style="color: blue;">客戶: 
                    <select class="selectpicker"  data-live-search="true" name="id_client" id="id_client">
                        <option value="None">--select--</option>
                        {% for client in client_list %}
                            {% if project.client.name == client %}
                                <option value="{{client}}" selected="selected">{{client}}</option>
                            {% else %}
                                <option value="{{client}}">{{client}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <a class="btn" data-bs-toggle="modal" href="#client_toggle" role="button"><img src='/static/images/journal-plus.svg'></a>
                    <div class="modal fade" id="client_toggle" aria-hidden="true" aria-labelledby="client_toggleLabel" tabindex="-1">
                        {% include "project/side/client_modal.html" %}
                    </div> 
                </p>
                <p id="edit_tag" style="color: blue;">
                    標籤:
                    <select class="selectpicker" multiple data-live-search="true" name="id_tag" id="id_tag">   
                        {% for tag in tag_object %}
                            {% if tag.name in tag_list %}
                            <option selected="selected" value="{{tag.name}}">{{tag}}</option>
                            {% else %}
                            <option value="{{tag.name}}">{{tag}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <a class="btn" data-bs-toggle="modal" href="#tag_toggle" role="button"><img src='/static/images/journal-plus.svg'></a>
                    <div class="modal fade" id="tag_toggle" aria-hidden="true" aria-labelledby="tag_toggleLabel" tabindex="-1">
                        {% include "testcase/Form_View/tag_modal.html" %}
                    </div> 
                </p>
                <p id="save_testplan_count">Number of Test Plan: {{testplan_count}}</p>
            </div>
        </div>
        
    </div>
</div>
<div class="col-md-2"></div>
<div class="col-md-3" >
    <div id="info_savemode_right" class="info_savemode">
        <div class="info_border " >
            <h1><span>人員名單</span></h1>
            <div class="info_show_left">
                <p id="save_creator">創建者: {{project.creator}}</p>
                {% if project.assign != None %}
                    <p id="save_assign">負責人: {{project.assign.username}}</p>
                {% else %}
                    <p id="save_assign">負責人: 未指派</p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="info_border">
            <h1><span>日期</span></h1>
            <div class="info_show_left">
                <p id="save_create_date">建立日: {{project.create_date|date:"Y-m-d"}}</p>
                {% if project.start_date == None %}
                    <p id="save_start_date">開始日: 未選擇日期</p>
                {% else %}
                    <p id="save_start_date">開始日: {{project.start_date|date:"Y-m-d"}}</p>
                {% endif %}
                {% if project.end_date == None %}
                    <p id="save_end_date">結束日: 未選擇日期</p>
                {% else %}
                    <p id="save_end_date">結束日: {{project.end_date|date:"Y-m-d"}}</p>
                {% endif %}
                
            </div>
        </div>
    </div>
    <div id="info_editmode_right" class="info_editmode hidden">
        <div class="info_border " >
            <h1><span>人員名單</span></h1>
            <div class="info_show_left">
                <p id="edit_creator">創建者: {{project.creator}}</p>
                <p id="edit_assign" style="color:blue;">負責人: 
                    <select class="selectpicker"  data-live-search="true" id="edit_assign_select">
                        <option value="None">--select--</option>
                        {% for user in user_list %}
                            {% if project.assign.username == user %}
                                <option value="{{user}}" selected="selected">{{user}}</option>
                            {% else %}
                                <option value="{{user}}">{{user}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
            </div>
        </div>
        <br>
        <div class="info_border">
            <h1><span>日期</span></h1>
            <div class="info_show_left">
                <p id="edit_start_date" style="color:blue ;">開始日: &nbsp&nbsp&nbsp
                    <input type="date" id="edit_start_date_input" 
                                name="edit_start_date_input" value="{{project.start_date|date:'Y-m-d'}}" > 
                </p>
                <p id="edit_end_date" style="color: blue;">結束日: &nbsp&nbsp&nbsp
                    <input type="date" id="edit_end_date_input" 
                                name="edit_end_date_input" value="{{project.end_date|date:'Y-m-d'}}" > 
                </p>
                <p id="invalid-project-time" style="color:red" class="hidden">
                    開始日期須早於結束日期
                </p>
            </div>
        </div>        
    </div>
</div>