{% load static %}
{% load i18n %}





<link rel="stylesheet" type="text/css" href="{% static 'css/resize_table.css' %}" />  

<script src="{% static 'js/colResizable-1.6.js' %}"></script>
<!-- <script type="text/javascript">
    $(function(){	
        $("#teststepview_table").colResizable({
            liveDrag:true, 
            gripInnerHtml:"<div class='grip'></div>", 
            draggingClass:"dragging", 
            resizeMode:'overflow'
        }); 
    });	
</script> -->
<div class="row hidden" id="add_table_div">
    <div class="col-2"></div>
    <div class="col-5">
        <div id="edit_testrun_table" style="float: left;">
            <p style="color:green ;">添加 Testcase:
                <select class="selectpicker" multiple data-live-search="true" id="select_testcase">   
                    {% for testcase in testcase_object %}
                        {% if testcase not in testcase_list %}
                            <option value="{{testcase.id}}">{{testcase.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
        </div>
        <button style="float:left" type="button" class="btn btn-md cleared" onclick="return _Add_testcase(this)" id="Edit_teststep_btn"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-3" style="color:green ;">
                <p style="transform: translateY(5px)"> 添加 Testplan:</p>
            </div>
            <div class="col-7">
                <input style="width:85% ;" type="text" id="new_testplan_name" name="new_testplan_name" class="form-control" placeholder="New Testplan Name" >
            </div>
            <div class="col-2">
                <button type="button" style="float:left" class="btn btn-md btn-success" onclick="return _Add_testplan(this)" id="add_testplan_btn" >添加</button>
            </div>
        </div>
    </div>
</div>

<div class="scroll_all scroll_all_limit_h" id="resize_scroll_teststep_table" >
    <table id="teststepview_table"  border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr class="header">
                <th class="table_td_edit hidden"></th>
                <th>TC.ID</th>
                <th>TC.Name</th>    
                {% for testplan in testplan_list %}
                    <th class="status_show_position">
                        <span class="table_td_edit hidden" >
                            <a data-bs-toggle="modal" style="color:black ;" href="#delete_TP_toggle_{{testplan.id}}" role="button"><i class="fa-solid fa-trash"></i></a>
                        </span>
                        {{testplan.name}}
                        <input type="hidden" value="{{testplan.id}}" id="checkbox_id">
                        <input type="checkbox" class="hidden testplan_check_all" onclick="_check_all(this)">
                    </th>
                    <div class="modal fade modal-delete" id="delete_TP_toggle_{{testplan.id}}" aria-hidden="true" aria-labelledby="delete_TP_toggleLabel_{{testplan.id}}" tabindex="-1">
                        {% include "testplan/testplan_group/delete_testplan.html" %}
                    </div> 
                {% endfor %}
                
            </tr>
        </thead>
        <tbody id="teststep_tr_list_savemode">
            {% for testcase,testrun_list in testcase_dict.items %}
                <tr id="testcase_row_{{testcase.id}}">
                    <th class="table_td_edit hidden">
                        <div class="status_show_position" >
                            <a data-bs-toggle="modal" style="color:black ;" href="#delete_toggle_{{testcase.id}}" role="button"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </th>
                    <th class="first"><a href="{% url 'teststep' testcase.id %}">TEM-{{testcase.id}}</a></th>
                    <th class="second">
                        {{testcase.name}}
                        <input type="hidden" value="{{testcase.id}}" id="checkbox_id">
                        <input type="checkbox" class="hidden testcase_check_all" onclick="_check_all(this)">
                    </th>
                    {% for data in testrun_list %}
                        {% if data.1 != 'None' %}
                            <td class="table_td_edit hidden">
                                <div><input type="checkbox" class="testplan_testcase_checkbox_checked"  checked disabled></div>
                            </td>
                        {% else %}
                            <td class="table_td_edit hidden"><input type="checkbox" class="testplan_testcase_checkbox testplan_checkbox_{{data.0.id}} testcase_checkbox_{{testcase.id}}" id="TestplanID-{{data.0.id}}-TestcaseID-{{testcase.id}}"  disabled></td>
                        {% endif %}
                    {% endfor %}
                    {% for data in testrun_list %}
                        {% if data.1 != 'None' %}
                        <td class="table_td_save">
                            <div>
                                {% if data.1.status == 'Incomplete' %}
                                    <a href="{% url 'testrun' data.1.id %}" style="color:#B7950B">{{data.1.status}}</a>
                                {% elif data.1.status == 'Passed' %}
                                    <a href="{% url 'testrun' data.1.id %}" style="color:#229954">{{data.1.status}}</a>
                                {% elif data.1.status == 'Failed' %}
                                    <a href="{% url 'testrun' data.1.id %}" style="color:#CB4335">{{data.1.status}}</a>
                                {% elif data.1.status == 'Ongoing' %}
                                    <a href="{% url 'testrun' data.1.id %}" style="color:#2471A3">In Progress</a>
                                {% endif %}
                                {% if current_user in data.1.assign.all %}
                                    <span style="color:#28B463"><i class="fa-solid fa-user"></i></span>
                                {% endif %}
                            </div>
                            <div>
                                {% for assign_item in data.1.assign.all%}
                                    <div>{{assign_item}}</div>
                                {% endfor %}
                            </div>
                        </td>
                        {% else %}
                        <td class="table_td_save">
                            <div></div>
                            <div></div>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                
                <div class="modal fade modal-delete" id="delete_toggle_{{testcase.id}}" aria-hidden="true" aria-labelledby="delete_toggleLabel_{{testcase.id}}" tabindex="-1">
                    {% include "testplan/testplan_group/delete_testcase.html" %}
                </div> 
            {% endfor %}
        </tbody>
    </table>
</div>