{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->


    <link rel="stylesheet" type="text/css" href="{% static 'cdn/cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' %}" />
    <style type="text/css">body {zoom:0.8;}</style>
    <link rel="icon"href="{% static 'images/favicon.ico' %}">
    <!-- fontsize -->
    <!-- <script src="https://kit.fontawesome.com/14e9a4f90b.js" crossorigin="anonymous"></script> -->
    <script src="{% static 'cdn/kit.fontawesome.com/14e9a4f90b.js' %}"></script>
    <!-- jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
    <script src="{% static 'cdn/code.jquery.com/jquery-3.4.1.slim.min.js' %}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="{% static 'cdn/ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %}"></script>


    <!-- Csrf token -->
    <script src="{% static 'js/creatre_csrf_token.js' %}"></script>
    <!-- toast msg -->
    <script src="{% static 'js/toast_show.js' %}"></script>


    {% block head %}{% endblock %}
</head>
<body >
    <style>
        .modal-backdrop {
            width: 100% !important;
            height: 100% !important;
        }  
        .django-ckeditor-widget{
        width: 100%;
        }
        .toast-container-fix {
            position: fixed;
            z-index: 1090;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            max-width: 100%;
            pointer-events: none;
        }
        .hidden{
            display: none;
        }
        .status_show_position{
            text-align: center;
            Vertical-align:middle;
        }
    </style>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="{% static 'images/Qisra.png' %}" width="100" height="50">
            </a> -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'Dashboard' %}" class="nav-link px-4 link-secondary">儀表板</a></li>
                <li>
                    <a href="#" class="nav-link px-5 link-dark" type="button" data-bs-toggle="modal" data-bs-target="#SearchEvent">搜尋</a>
                </li>
                <!-- -->
                {% if creator_bool == True %}
                    <div class="dropdown text-end">
                        <a href="#" class="nav-link px-5 link-dark d-block link-dark text-decoration-none dropdown-toggle btn btn-info" data-bs-toggle="dropdown" id="dropdownModel" aria-expanded="false">創建模型</a></li>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownModel">
                            <li><a href="#" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#CreateEvent">創建 Project/Testplan</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'testcases-create-test' %}">創建 Testcase</a></li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
    
    
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/user.png' %}" alt="mdo" width="32" height="32" class="rounded-circle"> {{current_user.username}}
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'profile_view' %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% if bool_superuser == True %}
                        <li><a class="dropdown-item" href="/admin">Admin panel</a></li>
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'signup_url' %}">Sign out</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="modal fade modal-lg" id="CreateEvent">
            {% include "main/navbar/create_modal.html" %}
        </div>
        <div class="modal fade search-modal-xl" id="SearchEvent">
            {% include "main/navbar/search_modal.html" %}
        </div>


        
        
    </header>
      <!-- 跳出視窗內容  CreateEvent-->
        
    {% block contents %}
    
    {% endblock %}
    <div  class="toast-container-fix  p-3 top-0 end-0 " id="toast-container" ></div> 


    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script> -->
    <script src="{% static 'cdn/cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js' %}"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script> -->
    <script src="{% static 'cdn/cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js' %}"></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'cdn/stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'main/js/create_modal.js' %}"></script>
    <script src="{% static 'main/js/search_modal.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script> -->
    <script src="{% static 'cdn/cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js' %}"></script>
    
    
</body>
</html>

