{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Testrun-{{testrun}}{% endblock %}
{% block head %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block contents %}       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'testplan/css/status_color.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'testcase/css/info.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'testplan/css/testrun.css' %}">
    <form method="POST" action="" class="needs-validation" id="testrunform">
        {% csrf_token %}
        <div class="col-lg-12 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            {% if testrun.testplan %}
                <span class="fs-4" >[{{testrun}}]  <a href="{% url 'project_view' testrun.testplan.project.id %}" class="search_link" style="color: blue;" id="project_title_url">{{testrun.testplan.project.name}}</a>/<a href="{% url 'testplan_view' testrun.testplan.id %}" class="search_link" style="color: blue;" id="testplan_title_url">{{testrun.testplan.name}}</a>/<span id="testrun_title">{{testrun.name}}</span></span>
            {% else %}
            <span class="fs-4" >[{{testrun}}]  <a href="{% url 'project_view' testrun.testplans.testplan_group.project.id %}" class="search_link" style="color: blue;" id="project_title_url">{{testrun.testplans.testplan_group.project.name}}</a>/<a href="{% url 'testplan_group_view' testrun.testplans.testplan_group.id %}" class="search_link" style="color: blue;" id="testplan_title_url">{{testrun.testplans.testplan_group.name}}</a>/<span>{{testrun.testplans.name}}</span>/<span id="testrun_title">{{testrun.name}}</span></span>
            {% endif %}
            {% if creator_bool == True %}
                <div class="dropdown text-end" id="dropdown_three_dot">
                    <a href="#" class="btn" data-bs-toggle="dropdown" id="dropdownedit" aria-expanded="false"><img src='/static/images/three-dots-vertical.svg'></a></li>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownedit">
                        {% if creator_bool == True %}
                        <a class="btn dropdown-item" data-bs-toggle="modal" href="#delete_toggle" role="button"><img src='/static/images/trash3-fill.svg'> DELETE</a>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class="dropdown text-end hidden" id="dropdown_three_dot">
                    <a href="#" class="btn" data-bs-toggle="dropdown" id="dropdownedit" aria-expanded="false"><img src='/static/images/three-dots-vertical.svg'></a></li>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownedit">
                        <a class="btn dropdown-item" data-bs-toggle="modal" href="#delete_toggle" role="button"><img src='/static/images/trash3-fill.svg'> DELETE</a>
                    </ul>
                </div>
            {% endif %}
            <div class="modal fade modal-delete" id="delete_toggle" aria-hidden="true" aria-labelledby="delete_toggleLabel" tabindex="-1">
                {% include "testplan/testrun/delete_testrun.html" %}
            </div>
        </header>
    <main>
        <p>
            <h5>議題詳情
                <span style="padding-left: 30px;" class="" id="edit-save-div-info">
                    {% if testrun.testplan %}
                        {% if creator_bool == True  or current_user == testrun.testplan.assign %}
                            <button type="button" class="btn btn-md cleared" onclick="return _Edit_info(this)" id="Edit_info_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-md cleared hidden" onclick="return _Edit_info(this)" id="Edit_info_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        {% endif %}
                    {% else %}
                        {% if creator_bool == True or current_user == testrun.testplans.testplan_group.assign %}
                            <button type="button" class="btn btn-md cleared" onclick="return _Edit_info(this)" id="Edit_info_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-md cleared hidden" onclick="return _Edit_info(this)" id="Edit_info_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-success hidden" onclick="return _Save_info(this)" id="Save_info_btn">儲存</button>
                    <button type="button" class="btn btn-sm btn-warning hidden" onclick="return _Cancel_info(this)" id="Cancel_info_btn">取消</button>
                </span>
                <img src='/static/images/Ellipsis-2.4s-48px.svg' id="loading_save_info" class="hidden">
            </h5>
            <button class="fa-solid fa-sort-down dropdown_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"
            aria-label="議題詳情" style="border: 0; transform: rotate(0deg);transition:0.5s" id="dropdown_btn1"></button> 
        </p>
        <div class="row g-5 collapse show" id="collapseExample">
            {% include "testplan/testrun/info.html" %}
        </div>
    </main>
    <br>
    <main>
        <h5>描述
            <span style="padding-left: 20px;" class="" id="second-box-edit-save_div">
                {% if creator_bool == True %}
                    <button type="button" class="btn btn-md cleared" onclick="return _Edit_context(this)" id="Edit_context_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                {% else %}
                    <button type="button" class="btn btn-md cleared hidden" onclick="return _Edit_context(this)" id="Edit_context_btn"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-success hidden" onclick="return _Save_context(this)" id="Save_context_btn">儲存</button>
                <button type="button" class="btn btn-sm btn-warning hidden" onclick="return _Cancel_context(this)" id="Cancel_context_btn">取消</button>
            </span>
            <img src='/static/images/Ellipsis-2.4s-48px.svg' id="loading_save_context" class="hidden">
        </h5>
        <button class="fa-solid fa-sort-down dropdown_btn" type="button" data-bs-toggle="collapse" data-bs-target="#second-box-data" aria-expanded="true" aria-controls="second-box-data"
        aria-label="second-box-data" style="border: 0; transform: rotate(0deg);" ></button> 
        <div class="row g-5 collapse show" id="second-box-data">
            {% include "testplan/testrun/context.html" %}
        </div>
    </main>
    <main>
        <p>
            <h5>Teststep ({{teststep_list|length}})
                <span style="padding-left: 20px;" class="" id="edit-save-div-teststep">
                    {% if testrun.testplan %}
                        {% if testrun.testplan.status == '2' %}
                            {% if current_user.username in assign_list or creator_bool == True  or current_user == testrun.testplan.assign %}
                            <button type="button" class="btn btn-sm btn-primary" onclick="return _Edit_teststep(this)" id="Edit_teststep_btn">更改結果</button>
                            {% else %}
                            <button type="button" class="btn btn-sm btn-primary hidden" onclick="return _Edit_teststep(this)" id="Edit_teststep_btn">更改結果</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-sm btn-primary hidden" id="edit_teststep" name="edit_teststep">更改結果</button>
                        {% endif  %}
                    {% else %}
                        {% if testrun.testplans.testplan_group.status == '2' %}
                        {% if current_user.username in assign_list or creator_bool == True or current_user == testrun.testplans.testplan_group.assign %}
                            <button type="button" class="btn btn-sm btn-primary" onclick="return _Edit_teststep(this)" id="Edit_teststep_btn">更改結果</button>
                            {% else %}
                            <button type="button" class="btn btn-sm btn-primary hidden" onclick="return _Edit_teststep(this)" id="Edit_teststep_btn">更改結果</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-sm btn-primary hidden" id="edit_teststep" name="edit_teststep">更改結果</button>
                        {% endif  %}
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-success hidden" onclick="return _Save_teststep(this)" id="Save_teststep_btn">儲存結果</button>
                    <button type="button" class="btn btn-sm btn-warning hidden" onclick="return _Cancel_teststep(this)" id="Cancel_teststep_btn">取消更改</button>
                </span>
                <img src='/static/images/Ellipsis-2.4s-48px.svg' id="loading_save_teststep" class="hidden">
                <a type="button" class="btn" style="float:right" id="fullscreen"><img src='/static/images/fullscreen.svg'></a>
                <a type="button" class="btn hidden" style="float:right" id="smallscreen"><img src='/static/images/fullscreen-exit.svg'></a>
            </h5>
            <button class="fa-solid fa-sort-down dropdown_btn" type="button" data-bs-toggle="collapse" data-bs-target="#Teststep" aria-expanded="true" aria-controls="Teststep"
            aria-label="Teststep" style="border: 0; transform: rotate(0deg);transition:0.5s" ></button> 
        </p>
        {{form_teststep_list.media}}
        <div class="row hidden" id="pass_all_div">
            <div class="col-8"></div>
            <div class="col-4">
                <h5 style="float:right ;">
                    <div class="form-check form-switch" >
                        <input class="form-check-input" type="checkbox" id="fill_passed" >
                        <label class="form-check-label" for="fill_passed" style="color:green">將Incomplete 變為 Passed
                    </div>
                </h5>
            </div>
        </div>
        <div class="row g-12 collapse show" id="Teststep">
            {% include 'testplan/testrun/testrun_teststep_table.html'%}
        </div>
    </main>
    <br>
    <main>
        <h5>檔案附件
            <span style="width:120px ;">
                {% if testrun.testplan %}
                    {% if testrun.testplan.status == '2' %}
                        {% if current_user.username in assign_list or creator_bool == True  or current_user == testrun.testplan.assign %}
                        <a class="btn btn-primary btn-sm upload_count_class" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                        {% else %}
                        <a class="btn btn-primary btn-sm upload_count_class hidden" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary btn-sm upload_count_class hidden" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                    {% endif %}
                {% else %}
                    {% if testrun.testplans.testplan_group.status == '2' %}
                        {% if current_user.username in assign_list or creator_bool == True or current_user == testrun.testplans.testplan_group.assign %}
                        <a class="btn btn-primary btn-sm upload_count_class" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                        {% else %}
                        <a class="btn btn-primary btn-sm upload_count_class hidden" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary btn-sm upload_count_class hidden" data-bs-toggle="modal"  href="#file_upload_toggle" role="button"> 上傳文件</a>
                    {% endif %}
                {% endif %}

            </span>
        </h5>
        <button class="fa-solid fa-sort-down dropdown_btn" type="button" data-bs-toggle="collapse" data-bs-target="#five-box-data" aria-expanded="true" aria-controls="five-box-data"
        aria-label="five-box-data" style="border: 0; transform: rotate(0deg);" id="dropdown_btn4"></button> 
        <div class="col-lg-11 mx-auto p-3 py-md-5">
            <div class="row collapse show" id="five-box-data">
                {% include 'testplan/testrun/upload_table.html'%}
            </div>
        </div>
        
    </main>
    <main>
        <h5>歷史紀錄
            <span style="padding-left: 20px;" class="" id="fourth-box-edit-save_div">
                <button type="button" class="btn btn-sm btn-danger hidden" id="fourth-box-edit" name="fourth-box-edit">Edit</button>
            </span>
        </h5>
        <button class="fa-solid fa-sort-down dropdown_btn" type="button" data-bs-toggle="collapse" data-bs-target="#fourth-box-data" aria-expanded="true" aria-controls="fourth-box-data"
        aria-label="fourth-box-data" style="border: 0; transform: rotate(-90deg);" ></button> 
        <div class="col-lg-11 mx-auto p-3 py-md-5">
            <div class="row g-5 collapse" id="fourth-box-data">
                {% include "testcase/Form_View/history_table.html" %}
            </table>
        </div>
        </div>
        
    </main>
            
    <footer class="pt-5 my-5 text-muted border-top">
    </footer>
    </div>
    <div class="modal fade" id="file_upload_toggle" aria-hidden="true" aria-labelledby="file_upload_toggleLabel" tabindex="-1">
        {% include "testcase/Testcase_view/file_upload.html" %}
    </div>
    </form>
    <script src="{% static 'testplan/js/teststep_file_upload.js' %}"></script>
    <script src="{% static 'testplan/js/testrun/info.js' %}"></script>
    <script src="{% static 'testplan/js/testrun/context.js' %}"></script>
    <script src="{% static 'testplan/js/testrun/teststep_table.js' %}"></script>
    <script src="{% static 'testplan/js/file_upload.js' %}"></script>

{% endblock %}